<html>
  <head>
    <title>
      NumberLuncher
    </title>
  </head>

  <body>
    <h1>Welcome to Chelsey and Leo's app!</h1>
    <h2>This Rails app is currently under construction...</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </body>
</html>
