<html>
  <head>
    <title>
      NumberLuncher
    </title>
  </head>

  <body>
    <h1>Welcome to Numberluncher</h1>
    <h2>-- a crowd-sourced data-crunching web app for lunchtime crowd-avoidance --</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary footer-link" %>
  </body>
</html>
