<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1>
  <%= current_user.email %>
  <br/>
<%= link_to "Observations", current_user %>
<br/>
<%= link_to "Restaurants", followed_restaurants_user_path(current_user.id) %>
<% #= link_to "view restaurants", root_path %>
</h1>
