<h1><%= @restaurant.name%> : <%= @restaurant.location %></h1>

<div class="span8">
	  <ul class="observations">
	      <%= render @observations %>
	   </ul>
	<%= will_paginate @observations %>
</div>
