<h1><%= @restaurant.name%> : <%= @restaurant.location %></h1>

<div class="span8">
	  <ol class="observations">
	      <%= render @observations %>
	   </ol>
	<%= will_paginate @observations %>
</div>
